# 16. Create results table

In [1]:
import pandas as pd
import numpy as np

In [2]:
model1_file = "../results/model1_2019-09-16.xlsx"
model2_file = "../results/model2_2019-09-16.xlsx"
model3_file = "../results/model3_2019-09-16.xlsx"
model4_file = "../results/model4_2019-09-16.xlsx"
model5_file = "../results/model5_2019-09-16.xlsx"
model6_file = "../results/model6_2019-09-16.xlsx"

In [3]:
model1 = pd.read_excel(model1_file)
model2 = pd.read_excel(model2_file)
model3 = pd.read_excel(model3_file)
model4 = pd.read_excel(model4_file)
model5 = pd.read_excel(model5_file)
model6 = pd.read_excel(model6_file)

model1.head()

,Unnamed: 0,b,se,t,pvalue,ll,ul,df,crit,eform
0,CHANGE_SD,1.501311,1.211352,1.239368,0.219533,-0.916558,3.919180,67,1.996008,0
1,CHANGE_SD_SQ,-0.457564,0.326332,-1.402143,0.165489,-1.108924,0.193797,67,1.996008,0
2,DISC_ADDED,0.170754,0.589437,0.289690,0.772948,-1.005768,1.347276,67,1.996008,0
3,CONSOLIDATE,0.067303,0.099667,0.675279,0.501823,-0.131633,0.266238,67,1.996008,0
4,M_A,1.525333,1.916301,0.795978,0.428856,-2.299621,5.350287,67,1.996008,0

In [4]:
def is_significant(value: float):
    if value < 0.01:
        return("^{***}")
    elif value < 0.05:
        return("^{**}")
    elif value < 0.1:
        return("^{*}")
    else: 
        return("")
    
is_significant(0.06)

'^{*}'

In [5]:
def create_column(data: pd.DataFrame):
    results = {}
    for _, row in data.iterrows():
        test = {}
        name = row['Unnamed: 0']
        value = "$\makecell{" + str(round(row['b'], 2)) + is_significant(row['pvalue']) + "\\\\(" + str(round(row['se'], 2)) + ")}$"
        results[name] = value
    return(results)

In [6]:
def create_table(results: list):
    table = []
    for result in results:
        column = create_column(result)
        table.append(column)
    return pd.DataFrame(table).transpose()

## Results 1

In [7]:
results1 = create_table([model1, model2, model3])
results1.head()

,0,1,2
CHANGE_SD,$\makecell{1.5\\(1.21)}$,$\makecell{1.93^{*}\\(1.15)}$,$\makecell{1.41\\(1.19)}$
CHANGE_SD_SQ,$\makecell{-0.46\\(0.33)}$,$\makecell{-0.54^{*}\\(0.31)}$,$\makecell{-0.42\\(0.32)}$
DISC_ADDED,$\makecell{0.17\\(0.59)}$,NaN,$\makecell{0.1\\(0.59)}$
CONSOLIDATE,$\makecell{0.07\\(0.1)}$,NaN,$\makecell{0.08\\(0.1)}$
M_A,$\makecell{1.53\\(1.92)}$,$\makecell{3.75^{**}\\(1.64)}$,$\makecell{1.75\\(2.02)}$

In [8]:
first_columns1 = results1.index.values[:18]
first_columns1

array(['CHANGE_SD', 'CHANGE_SD_SQ', 'DISC_ADDED', 'CONSOLIDATE', 'M_A',
       'M_A_2', 'CRUDE_MILES_3', 'CRUDE_AVG_AGE_3', 'CRUDExAGE',
       'HVL_MILES_3', 'HVL_AVG_AGE_3', 'HVLxAGE', 'NON_HVL_MILES_3',
       'NON_HVL_AVG_AGE_3', 'NON_HVLxAGE', 'NO_CRUDE', 'NO_HVL',
       'NO_NON_HVL'], dtype=object)

In [9]:
year_cols1 =  results1.index.values[20:]
year_cols1

array(['2007.YEAR', '2008.YEAR', '2009.YEAR', '2010.YEAR', '2011.YEAR',
       '2012.YEAR'], dtype=object)

In [10]:
results1 = results1.reindex(list(first_columns1) + list(year_cols1) + ['_cons'])
results1

,0,1,2
CHANGE_SD,$\makecell{1.5\\(1.21)}$,$\makecell{1.93^{*}\\(1.15)}$,$\makecell{1.41\\(1.19)}$
CHANGE_SD_SQ,$\makecell{-0.46\\(0.33)}$,$\makecell{-0.54^{*}\\(0.31)}$,$\makecell{-0.42\\(0.32)}$
DISC_ADDED,$\makecell{0.17\\(0.59)}$,NaN,$\makecell{0.1\\(0.59)}$
CONSOLIDATE,$\makecell{0.07\\(0.1)}$,NaN,$\makecell{0.08\\(0.1)}$
M_A,$\makecell{1.53\\(1.92)}$,$\makecell{3.75^{**}\\(1.64)}$,$\makecell{1.75\\(2.02)}$
M_A_2,$\makecell{-1.58\\(1.14)}$,$\makecell{-1.21\\(0.83)}$,$\makecell{-1.36\\(1.16)}$
CRUDE_MILES_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
CRUDE_AVG_AGE_3,$\makecell{0.04^{*}\\(0.02)}$,$\makecell{0.01\\(0.02)}$,$\makecell{0.04^{*}\\(0.02)}$
CRUDExAGE,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0^{**}\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
HVL_MILES_3,$\makecell{0.01\\(0.01)}$,$\makecell{0.0\\(0.01)}$,$\makecell{0.01\\(0.01)}$
HVL_AVG_AGE_3,$\makecell{0.04\\(0.03)}$,$\makecell{0.04^{*}\\(0.03)}$,$\makecell{0.04\\(0.03)}$
HVLxAGE,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
NON_HVL_MILES_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
NON_HVL_AVG_AGE_3,$\makecell{-0.0\\(0.03)}$,$\makecell{0.0\\(0.02)}$,$\makecell{-0.01\\(0.03)}$
NON_HVLxAGE,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
NO_CRUDE,$\makecell{-8.66^{*}\\(4.5)}$,$\makecell{-1.78\\(2.71)}$,$\makecell{-8.63^{*}\\(4.39)}$
NO_HVL,$\makecell{1.68\\(1.22)}$,$\makecell{0.98\\(0.85)}$,$\makecell{1.69\\(1.32)}$
NO_NON_HVL,$\makecell{-3.19\\(2.94)}$,$\makecell{-1.59\\(2.4)}$,$\makecell{-2.87\\(3.02)}$
2007.YEAR,NaN,NaN,$\makecell{-0.19\\(0.38)}$
2008.YEAR,NaN,NaN,$\makecell{0.03\\(0.57)}$
2009.YEAR,NaN,NaN,$\makecell{0.3\\(0.65)}$
2010.YEAR,NaN,NaN,$\makecell{0.43\\(0.7)}$
2011.YEAR,NaN,NaN,$\makecell{0.44\\(0.62)}$
2012.YEAR,NaN,NaN,$\makecell{0.56\\(0.69)}$
_cons,$\makecell{2.12\\(2.42)}$,$\makecell{-1.83\\(2.42)}$,$\makecell{1.89\\(2.39)}$

In [11]:
sample_size = {'Model 1': [69, 401, 0.33, 0.30, 0.34], 'Model 2': [70, 474, 0.32, 0.43, 0.42], 'Model 3': [69, 401, 0.33, 0.30, 0.33]}
sample_size= pd.DataFrame(data=sample_size)
sample_size

   Model 1  Model 2  Model 3
0    69.00    70.00    69.00
1   401.00   474.00   401.00
2     0.33     0.32     0.33
3     0.30     0.43     0.30
4     0.34     0.42     0.33

In [12]:
results1.columns = ['Model 1', 'Model 2', 'Model 3']
results1 = pd.concat([results1, sample_size])

results1_names = ["Adjustments", "Adjustments sq.", "Miles add", "Consolidation", "M and A", "M and A t-1", 
                  "Miles Crude", "Age Crude", "Miles x Age Crude", "Miles HVL", "Age HVL", "Miles x Age HVL", "Miles Non-HVL", 
                  "Age Non-HVL", "Miles x Age Non-HVL", "No Crude", "No HVL", "No Non-HVL", "2007", "2008", "2009", "2010", "2011", "2012",
                  "Constant", "Groups", "Observations", "R-sq within", "R-sq between", "R-sq overall"]
results1.index = results1_names

In [13]:
results1.to_latex("../drafts/summer_paper/illustrations/results1.tex", na_rep="", escape=False)

## Results 2

In [14]:
results2 = create_table([model4, model5, model6])

In [15]:
first_columns2 = results2.index.values[:30]
first_columns2

array(['CHANGE_SD', 'CHANGE_SD_SQ', 'DISC_ADDED', 'CONSOLIDATE', 'M_A',
       'M_A_2', 'CRUDE_MILES_1940_3', 'CRUDE_MILES_1950_3',
       'CRUDE_MILES_1960_3', 'CRUDE_MILES_1970_3', 'CRUDE_MILES_1980_3',
       'CRUDE_MILES_1990_3', 'CRUDE_MILES_2000_3', 'CRUDE_MILES_2010_3',
       'HVL_MILES_1940_3', 'HVL_MILES_1950_3', 'HVL_MILES_1960_3',
       'HVL_MILES_1970_3', 'HVL_MILES_1980_3', 'HVL_MILES_1990_3',
       'HVL_MILES_2000_3', 'HVL_MILES_2010_3', 'NON_HVL_MILES_1940_3',
       'NON_HVL_MILES_1950_3', 'NON_HVL_MILES_1960_3',
       'NON_HVL_MILES_1970_3', 'NON_HVL_MILES_1980_3',
       'NON_HVL_MILES_1990_3', 'NON_HVL_MILES_2000_3',
       'NON_HVL_MILES_2010_3'], dtype=object)

In [16]:
year_cols2 =  results2.index.values[32:]
year_cols2

array(['2007.YEAR', '2008.YEAR', '2009.YEAR', '2010.YEAR', '2011.YEAR',
       '2012.YEAR'], dtype=object)

In [17]:
results2 = results2.reindex(list(first_columns2) + list(year_cols2) + ['_cons'])
results2

,0,1,2
CHANGE_SD,$\makecell{1.22^{*}\\(0.65)}$,$\makecell{1.29^{*}\\(0.77)}$,$\makecell{1.24^{*}\\(0.66)}$
CHANGE_SD_SQ,$\makecell{-0.22\\(0.14)}$,$\makecell{-0.26\\(0.17)}$,$\makecell{-0.21\\(0.14)}$
DISC_ADDED,$\makecell{-0.57^{*}\\(0.33)}$,NaN,$\makecell{-0.48\\(0.32)}$
CONSOLIDATE,$\makecell{0.1^{***}\\(0.03)}$,NaN,$\makecell{0.09^{***}\\(0.03)}$
M_A,$\makecell{2.22\\(1.45)}$,$\makecell{2.31^{***}\\(0.79)}$,$\makecell{2.47\\(1.5)}$
M_A_2,$\makecell{-0.89^{***}\\(0.28)}$,$\makecell{1.15\\(0.77)}$,$\makecell{-0.96^{**}\\(0.44)}$
CRUDE_MILES_1940_3,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
CRUDE_MILES_1950_3,$\makecell{0.01^{***}\\(0.0)}$,$\makecell{0.0^{*}\\(0.0)}$,$\makecell{0.01^{***}\\(0.0)}$
CRUDE_MILES_1960_3,$\makecell{0.01\\(0.01)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.01\\(0.01)}$
CRUDE_MILES_1970_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
CRUDE_MILES_1980_3,$\makecell{0.01\\(0.01)}$,$\makecell{0.01\\(0.01)}$,$\makecell{0.01\\(0.01)}$
CRUDE_MILES_1990_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
CRUDE_MILES_2000_3,$\makecell{-0.0\\(0.0)}$,$\makecell{0.0^{*}\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
CRUDE_MILES_2010_3,$\makecell{-0.0\\(0.01)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.01)}$
HVL_MILES_1940_3,$\makecell{-0.01\\(0.01)}$,$\makecell{0.0\\(0.01)}$,$\makecell{-0.01\\(0.01)}$
HVL_MILES_1950_3,$\makecell{-0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
HVL_MILES_1960_3,$\makecell{0.0^{**}\\(0.0)}$,$\makecell{0.0^{**}\\(0.0)}$,$\makecell{0.0^{**}\\(0.0)}$
HVL_MILES_1970_3,$\makecell{-0.0^{***}\\(0.0)}$,$\makecell{-0.0^{***}\\(0.0)}$,$\makecell{-0.0^{***}\\(0.0)}$
HVL_MILES_1980_3,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
HVL_MILES_1990_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0^{**}\\(0.0)}$,$\makecell{0.0\\(0.0)}$
HVL_MILES_2000_3,$\makecell{0.0^{**}\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0^{**}\\(0.0)}$
HVL_MILES_2010_3,$\makecell{0.02^{**}\\(0.01)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.02^{**}\\(0.01)}$
NON_HVL_MILES_1940_3,$\makecell{-0.01^{***}\\(0.0)}$,$\makecell{-0.0^{***}\\(0.0)}$,$\makecell{-0.01^{***}\\(0.0)}$
NON_HVL_MILES_1950_3,$\makecell{-0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
NON_HVL_MILES_1960_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
NON_HVL_MILES_1970_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$,$\makecell{0.0\\(0.0)}$
NON_HVL_MILES_1980_3,$\makecell{0.02^{***}\\(0.0)}$,$\makecell{0.02^{***}\\(0.0)}$,$\makecell{0.02^{***}\\(0.0)}$
NON_HVL_MILES_1990_3,$\makecell{0.0\\(0.01)}$,$\makecell{-0.0\\(0.01)}$,$\makecell{0.0\\(0.01)}$
NON_HVL_MILES_2000_3,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$,$\makecell{-0.0\\(0.0)}$
NON_HVL_MILES_2010_3,$\makecell{0.0\\(0.0)}$,$\makecell{0.01^{*}\\(0.0)}$,$\makecell{0.0\\(0.0)}$
2007.YEAR,NaN,NaN,$\makecell{-0.3\\(0.32)}$
2008.YEAR,NaN,NaN,$\makecell{0.02\\(0.35)}$
2009.YEAR,NaN,NaN,$\makecell{0.24\\(0.47)}$
2010.YEAR,NaN,NaN,$\makecell{0.13\\(0.52)}$
2011.YEAR,NaN,NaN,$\makecell{-0.29\\(0.48)}$
2012.YEAR,NaN,NaN,$\makecell{-0.53\\(0.59)}$
_cons,$\makecell{-4.21^{***}\\(1.11)}$,$\makecell{-2.88^{**}\\(1.23)}$,$\makecell{-4.21^{***}\\(1.08)}$

In [18]:
sample_size2 = {'Model 4': [69, 401, 0.75, 0.20, 0.21], 'Model 5': [78, 624, 0.62, 0.30, 0.30], 'Model 6': [69, 401, 0.76, 0.19, 0.20]}
sample_size2 = pd.DataFrame(data=sample_size2)
sample_size2

   Model 4  Model 5  Model 6
0    69.00    78.00    69.00
1   401.00   624.00   401.00
2     0.75     0.62     0.76
3     0.20     0.30     0.19
4     0.21     0.30     0.20

In [19]:
results2.columns = ['Model 4', 'Model 5', 'Model 6']
results2 = pd.concat([results2, sample_size2])

results2_names = ["Adjustments", "Adjustments sq.", "Miles add", "Consolidation", "M and A", "M and A t-1", "Miles Crude 1940s", 
                  "Miles Crude 1950s", "Miles Crude 1960s", "Miles Crude 1970s", "Miles Crude 1980s", "Miles Crude 1990s", 
                  "Miles Crude 2000s", "Miles Crude 2010s", "Miles HVL 1940s", "Miles HVL 1950s", "Miles HVL 1960s", "Miles HVL 1970s", 
                  "Miles HVL 1980s", "Miles HVL 1990s", "Miles HVL 2000s", "Miles HVL 2010s", "Miles Non-HVL 1940s", "Miles Non-HVL 1950s", 
                  "Miles Non-HVL 1960s", "Miles Non-HVL 1970s", "Miles Non-HVL 1980s", "Miles Non-HVL 1990s", "Miles Non-HVL 2000s",
                  "Miles Non-HVL 2010s", "2007", "2008", "2009", "2010", "2011", "2012", "Constant", "Groups", "Observations", 
                  "R-sq within", "R-sq between", "R-sq overall"]
results2.index = results2_names

In [20]:
results2.to_latex("../drafts/summer_paper/illustrations/results2.tex", na_rep="", escape=False)